.component-titlebar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 200;
  flex: 0 0 auto;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 30%;
  /* 3개의 컬럼을 가로로 균등하게 나눕니다. */
  display: flex;
  align-items: center;
  /* 세로 방향 가운데 정렬 */
  font-weight: bold;
}

.left {
  justify-content: flex-start;
  /* 왼쪽 정렬 */
}

.center {
  justify-content: center;
  /* 가운데 정렬 */
}

.right {
  justify-content: flex-end;
  /* 오른쪽 정렬 */
}

.title {
  /*배경 투명*/
  background-color: transparent;
  /*테두리 두께 없앰*/
  border: 0;
  /* 늘려보이지 않도록 처리 */
  margin: 7%;
}

.menu {
  /*라운딩 처리*/
  border-radius: 20%;
  &:hover {
    background-color: lightslategray;
  }
}

.theme {
  /*둥근 버튼 처리*/
  border-radius: 50%;
  object-fit: cover;
  width: 60px;
  height: 60px;

  transition: all ease 0.5s;

  &:hover {
    transform: rotate(-30deg);
    background-color: slategray;
  }
}